﻿<h1>Counter</h1>

<p>
    Current count: @currentCount
</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    [Parameter]
    public int value { get; set; } = 1;

    private int currentCount = 0;
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }

    [Parameter]
    public EventCallback OnSomething { get; set; }

    private void IncrementCount()
    {
        currentCount += value;
    }
}
